/**********
Created by: Josh Klaus
**********/


body {
  font-family: monaco, arial;
  background: #0F5B30 !important;
	color: #000000;
  text-align: center;
}

.jumbotron {
  background-image: url('../images/dkgrnback.jpeg');
  color: #D4D36A;
}

.img-responsive {
  width: 100%;
  max-width: 350px;

}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1;
  border-top: 3px solid rgba(0, 0, 0, 0.5);
}

.container1{
  background-color: #B3BEBE !important;
  margin: 3rem !important;
  border: 3rem !important;
  padding: 3rem !important;
}

.container2 {
  background-color: #B3BEBE !important;
  margin: 3rem !important;
  border: 3rem !important;
  padding: 3rem !important;
}

.container3 {
  background-color: #B3BEBE !important;
  margin: 3rem !important;
  border: 3rem !important;
  padding: 3rem !important;
}

h2 {
  background-color: #D6AA93 !important;
  border-width: 2px;
  border-style: solid;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

h3 {
  margin: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  font-size: 16pt;
}

@media screen and (max-width: 768px) {
    h2 { font-size:14pt; }
    h3, p, .nav-item { font-size: 12pt; }
}

.nav-item {
	background-color: #aede94;
	padding: 0.2rem;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-bottom:  0.2rem;
  margin-top: 0.2rem;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
	font-size: 16pt;
}

.nav-item a{
	text-decoration: none;
	color: #703b00;
}

.nav-item  a:hover, .nav-item a:active
{
	color: #FFFFFF;
	background-color: #006600;
	padding: 2px;
}

.nav-item .selected{
	font-weight: bold;
}


/* table styles */

table.main{
	width: 900px;
/*	background-color: #a2dd89; */
	background-color: #f1faa6;
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}

tr{
	text-align: left;
}

tr.tabletitle{
	font-size: 32px;
	font-family: tahoma;
}

tr.headers{
	font-size: 18px;
	font-family: tahoma;
}

th{
/*	font-size: 18px;  */
	text-align: center;
	background-color: #cc9966;
}

td {
	border: 1px solid black;
	text-align: left;
	padding: 10px;
}

/* .footer{
	font-family: arial;
	font-size: 18px;
    float: left;
	clear: both;
	width: 100%;
	padding: 10px;
	color: #ffffff;
	text-align: center;
}
*/
/*
footer a{
	text-decoration: none;
	color: #ccff33;
}

footer  a:hover, #nav a:active
{
	color: #000000;
	background-color: #ccff33;
	padding: 2px;
} */

.page-footer {
  background-color: #B3BEBE !important;
  margin: 3rem !important;
  border: 3rem !important;
  padding: 3rem !important;

}

/* ------------------------- */
/* ------------------------- */
/* ------------------------- */
/* ------------------------- */
/* ------------------------- */

/* Social Media Icons */

.fa {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-color: black;
  border-style: solid;
}

.fa:hover {
    opacity: 0.5;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-envelope {
  background-color: red;
  color: black;
}
